/*Quick Product button*/
.btn-fill-info, .btn-info {
    color: #FFFFFF;
    background-color: #35eb40;
    border-color: #74d87a;
}

.tomato p{
    font-size:15px;
}

.modal-body-img:hover{
    transform: scale(1.1);
}

.modal-body-img{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .modal-body-img:hover{
      transform: scale(1.05); /*used to apply zoom over an image on mouse hover or click zoom size 1.05*/
  }

